.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  min-height: 25vh;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}
